*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
:root{
    --heading: rgb( 0,10,45);
    --para:#777;
    --para-tint:#e4e4e4;
    --black:#212529;
    --white:#fff;
    --helper:#8490ff;
    --helper-tint: #e7e8f3;
    --bg:rgb(249,249,255);
    --gradient:linear-gradient(0deg,rgb(132,144,255)0%, rgb(98,189,252)100%);
    --gradientSupport:-webkit-linear-gradient(0deg,rgb(132,144,255)0%,rgb(98,189,252)100%);
    --shadow:0px 20px 20px 0px rgba(24, 27, 52, 0.2);
    --shadowSupport:0 2rem 2rem 0 rgb(132 144 255 /30%);
    --icon-bg:rgba(144,172,209,0.2);
}
h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}
h3{
    font-size: 1.8rem;
    font-weight: 400;
}
p{
    color:var(--para);
    line-height: 1.6;
    font-size: 1.4rem;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* Header */

.header{
    padding: 0 4.8rem ;
    height: 10rem;
    background-color: var(--bg);
    /* background: red; */
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    height:3rem ;
}
.navbar-lists{
    display: flex;
    gap: 4.8rem;
}
.navbar-lists:link,
.navbar-lists:visited{
display: inline-block;
text-decoration: none;
font-size: 1.8rem;
font-weight: 500;
text-transform: uppercase;
color: var(--black);
transition: color 0.3s linear;
}

.navbar-lists:hover,
.navbar-lists:active{
    color: var(--helper);
}
.section{
    padding:9rem 9rem;
}
.grid{
    display: grid;
    gap: 9rem;
}

.grid-two-column{
    grid-template-columns: repeat(2,1fr);
}
.grid-three-column{
    grid-template-columns: repeat(3,1fr);   
}
.grid-four-column{
    grid-template-columns: repeat(4,1fr);   
}
.btn{
    background: var(--gradientSupport);
    padding: 1.6rem 3.2rem;
    border: none;
    color: var(--helper-tint);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover, .btn:active{
    box-shadow:var(--shadowSupport);
  
}
.common-heading{
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 6rem;
    text-transform: capitalize;
    position: relative;

}

.common-heading::before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    background: var(--helper);
    border-radius: 2rem;
}
.common-heading::after{
    content: "";
    position: absolute;
    top: 115%;
    left: 1.5rem;
    min-width: 20rem;
    height: 0.3rem;
    background: var(--helper);
}
/* hero */
.section-hero{
    background-color: var(--bg);
}
.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-top-data{
text-transform: uppercase;
font-weight: 500;
font-size: 1.5rem;
color: var(--helper);
}

.hero-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;
}
.hero-para{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}
.section-hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img{
    max-width: 80%;
}

/* Bio Section */

.bio-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-image img{
    width: 80%;
    box-shadow: -2rem -2rem 0 0 var(--helper);
    display: inline-block;
}

.bio-data-stats{
    display: flex;
    padding: 6.4rem 0;
    flex-direction: column;
    gap: 3rem;
}
.bio-progress-bar{
    width: 90%;
    height: 0.8rem;
    background-color: var(--para-tint);
    border-radius: 10rem;
    box-shadow: var(--shadow);
    position: relative;
}

.bio-progress-bar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 10rem;
}
.bio-progress-2{
    width: 70%;
}
.bio-progress-3{
    width: 60%;
}
.bio-progress-4{
    width: 70%;
}
.bio-progress-5{
    width: 75%;
}
.bio-progress-bar span{
    position: absolute;
    top: 1.8rem;
    width: 4rem;
    height: 2rem;
    background: var(--helper);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 0;
    left: 74%;
}
.bio-progress-2 span{
 left:65% ;
}
.bio-progress-3 span{
 left: 60% ;
}
.bio-progress-4 span{
 left:65% ;
}
.bio-progress-5 span{
    left:70% ;
}
/* Caret */
.bio-progress-bar span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid transparent;
    border-bottom-color: var(--helper);
    top: -1.6rem;
    
}
/* Posrtfolio Section  */
.section-portfolio{
background: var(--bg);
transition: all 0.7s linear;
}
.section-portfolio p{
    max-width: 60rem;
}
.p-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin: 6.4rem 0;
}
.portfolio-images{
    gap: 3.2rem;
}
.portfolio-images img{
 width: 100%;
 height: 100%;
 border-radius: 7px;
 position: relative;
overflow: hidden;

}
.img-overlay{
    position: relative;
    overflow: hidden;
}
 .img-overlay .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradientSupport);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
    border-radius: 7px;
 }
 .img-overlay:hover >.overlay{
    transform: translateY(0);
    opacity: 0.7;
    cursor: pointer;
 }
 .img-overlay .common-heading{
    margin: 0;
    color: var(--white);
    text-decoration: none;
 }
 .p-btn-active{
    transform: translateY(-1rem);
 }
 .p-image-not-active{
    display: none;
 }

 /* Work data section  */

 .section-work-data{
    background: var(--gradientSupport);
    text-align: center;
    transition: all 0.7s linear;
    color: var(--white);
 }

 .counter-numbers{
    font-size: 4.8rem;
 }

 .section-work-data p{
    color: var(--white);
    text-transform: capitalize;
 }

 /* Services Section  */
 .section-services{
    transition: all 0.7s linear;
 }
 .section-services p{
    max-width: 60rem;
 }

 .section-services .grid{

    row-gap: 5rem;
 }

 .service-box{
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: 55px;
    padding: 3.4rem 3.4rem;
    transition: all 0.2s linear;
   
 }

 .service-box:hover,
 .service-box:active{
    transform: translateY(-3rem);
 }
 .service-icon{
    width: 8rem;
    height:8rem ;
    background-color: var(--icon-bg);
    display: inline-block;
    border-radius: 30% 70% 65% 35% / 30% 30% 70% 70% ; 
    padding: 1.4rem 1.8rem;
    position: relative;
    color: var(--heading);
    animation: water-wave 3s linear infinite;
}
.service-icon::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    border-radius: 30% 70% 65% 35% / 30% 30% 70% 70% ;
    border:2px solid var(--black);
    background: transparent;
    animation: water-wave 3s linear infinite;
}
@keyframes water-wave{
    0%{
        border-radius: 30% 70% 65% 35% / 30% 30% 70% 70% ;  
    }
    50%{
        border-radius: 30% 70% 23% 77% / 75% 18% 82% 25% ;

    }
    100%{
        border-radius: 30% 70% 65% 35% / 30% 30% 70% 70%  ;
    }
}

/* Testimonials  */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-client-msg{
    padding: 3rem 3rem;
    background: var(--white);
    border-radius: 1rem;
    text-align: left;
    box-shadow: var(--shadow);
    position: relative;
  }
  .swiper-client-msg::before{
    content: "";
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translateX(-50%);
    border: 3rem solid var(--white);
    border-color: transparent;
    border-top-color: var(--helper-tint);  
}
.swiper-client-data{
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}
  .swiper-slide img{
    max-height: 10rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: .5rem solid var(--helper-tint);
  }

  /* Freelancing */
  .section-freelancing{
    background-image: url("../images/3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    text-align: center;

    background-size: 100%;
    justify-content: center;
    transition: all 0.7s linear;
  }
  .section-freelancing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3e64ff;
    opacity: 0.7;
  }
  .section-freelancing .container{
    position: relative;
  }
  .section-freelancing h2{
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 1.8rem;
   
  }
  .section-freelancing span{
    color: #a0f669;
  }
  .section-freelancing p{
    color: var(--white);
    margin-bottom: 1.8rem;
    
  }

  /* Conatct page  */
  .section-contact-main{
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 9rem;
    transition: all 0.3s linear;
  }
  .section-contact-main form{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  .section-contact-main input,
  .section-contact-main textarea{
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 5px;
    font-size: 1.6rem;
    width: 100%;
  }

  .section-contact-main input[type="submit"]{
    max-width: 30%;
    border: none;
  }